main {
	padding: 10px;
	overflow-y: scroll;
	display: flex;
    flex-direction: column;
    background-color: aquamarine;
  }

  .Menu {
    text-align: left;
    margin: 0 auto;
  }
  
  .Menu header {
    background-color: #181717;
    height: 10vh;
    min-height: 50px;
    color: white;
    width: 100%;
    top: 0;
    display: flex;
    align-items: left;
    justify-content: space-between;
    z-index: 99;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .Menu section {
    display: flex;
    flex-direction: column;
    height: 90vh;
    background-color: rgb(40, 37, 53);
  }
  
  
  