.asked-topic{
	background-color: #282c34;
	margin: 5px;
	color: white;
	display: flex;
	flex-direction: column;
}

.asked-topic-lable{
	width: 50%;
}

.asked-topic-value{
	width: 50%;
}

.asked-topic-datarow{
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	display: flex;
}

.ask-top-btn{
	width: 50%;
  /* height : 100%; */
  background-color: #282c34;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	font-size: 1.25rem;
}