.topics {
	padding: 10px;
  overflow-y: scroll;
  height: 571px;
  display: flex;
  margin: 0;
	flex-direction: column;
  }
  
  .topics::-webkit-scrollbar {
  width: 0.25rem;
  }

  .topics::-webkit-scrollbar-track {
    background: #1e1e24;
    }

  .topics::-webkit-scrollbar-thumb {
    background: #6649b8;
    } 

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      background-color: #282c34;
    }
    
    li {
      float: center;
      margin: 0;
    }
    
    li a {
      display:block;
      color: white;
      text-align: center;
      padding: 20px;
      text-decoration: none ;
    }
    
    li a:hover {
      background-color: #111111;
      width: 150px;
      float: center;
      margin-left: 0%;
    }