.header {
  background-color: #181717;
  height: 10vh;
  min-height: 50px;
  color: white;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
}

.allright {
	padding: 10px;
  overflow-y: scroll;
  height: 100%;
  display: flex;
  margin: 0;
	flex-direction: column;
  }

  .topicList {
    padding: 5px;
    overflow-y: scroll;
    /* height: 100%; */
    display: flex;
    margin: 0;
	  flex-direction: column;
  }
  
  /* .topicList::-webkit-scrollbar {
  width: 0.25rem;
  }

  .topicList::-webkit-scrollbar-track {
    background: #1e1e24;
    }

  .topicList::-webkit-scrollbar-thumb {
    background: #6649b8;
    }  */

    form {
      position: relative;
      width: 100%;
      height: 10%;
      background: var(--color-brand);
      border-radius: var(--rad);
    }


    .topButton {
      position: relative;
      padding: 10px;
      width: 80%;
    }

    .topButton1 {
      position: relative;
      padding: 10px;
      width: 20%;
      align-content: center;
      
    }

    img {
      position: block;
      height: 110%;
      width: 110%;
    }
